The different types of data holders in R are
1. Vector
2. List
3. Matrix



1. Vector:
    Dont get confused with the vector that you have read at your school and college. Its just a sequence of data placed in columns. If we want to enter a sequence of data to a variable we use vector data holder. Lets say we want to save the age of different person to a variable age. Then

Add different ages to a variable age

In [1]:
age<-c(10,15,20,30,12,11) 
print(age)

[1] 10 15 20 30 12 11

Here age is a variable

<- symbols for assigns as discussed previously

c(--data---) can be simply perceived as column of data

Let us try to add names of person in the variable names.

In [2]:
names<-c("Manu","Kanchi","Sanu","Sujata")
print(names)

[1] "Manu"   "Kanchi" "Sanu"   "Sujata"

Lets try to put different data types in same variable

In [3]:
data<-c("Name",100,TRUE,2+3i)
data # you could also use print(data) to print the result

[1] "Name" "100"  "TRUE" "2+3i"

Here, we can see that we created a vector with a character, a integer, a boolean and a complex number and assigned the vecotr to a varibale named data. When we print data we expect a character, integer, boolean and complex number. However, we can see that each of the data is converted to character. So, a vecotr cannot contain different data types. It has to contain same data type. Otherwise, the data type will be changed.

To get rid of this problem, we need list. So, the second data holder is list.

2.List

As vector is defined with c(---data---). The list is defined by list(----data----)

In [4]:
data_list<-list("Name",100,T,2+3i)
data_list

[[1]]
[1] "Name"

[[2]]
[1] 100

[[3]]
[1] TRUE

[[4]]
[1] 2+3i

We can make a list of varios vectors of different data set. Eg. let us say we have data of names, sex, age, driks or not(T or F) i.e

    Name              Sex         age            drinks
    Hemanta           M           29             T
    Sanu              F           21             F
    Kanchi            F           19             F
    Luri              F           23             F
    
Let us try making list of this data set.

In [7]:
dataList<-list(Name=c("Hemanta","Sanu","Kanchi","Luri"),Sex=c("M","F","F","F"),Age=c(29,21,19,23),Drinks=c(T,F,F,F))
dataList

$Name
[1] "Hemanta" "Sanu"    "Kanchi"  "Luri"

$Sex
[1] "M" "F" "F" "F"

$Age
[1] 29 21 19 23

$Drinks
[1]  TRUE FALSE FALSE FALSE

It can be done in other way. In abit clear form. Dont get scared it has some lines of coding. I will be explaining each line with commenting with #.... ..... ..... Note: Any line written after # wont be read by R complier, if you want to write the information about the line or document your code just write after #

In [8]:
name<-c("Hemanta","Sanu","Kanchi","Luri") #creates a vector of characters with names on it and assigns to variable name
sex<-c("M","F","F","F")#creates a vector of characters with sex on it and assigns to variable sex
age<-c(29,21,19,23) #creates a vector of integers with age on it an assigns to variabe age
drinks<-c(T,F,F,F)#creates a vector of boolean expression with T and F on it and assigns it to varibale drinks
dataList<-list(Name=name,Sex=sex,Age=age,Drinks=drinks)#define a list with elements as vectors 
                                                        #and gives name to each vectors
dataList

$Name
[1] "Hemanta" "Sanu"    "Kanchi"  "Luri"

$Sex
[1] "M" "F" "F" "F"

$Age
[1] 29 21 19 23

$Drinks
[1]  TRUE FALSE FALSE FALSE

3.Matrix

Other data holder very important is matrix it is same as what we know about matrix from our school and high school. As vectors and lists. Matix is created by matrix(---data---). However, when creating a matrix we must provide a rows and columns. Lets define a matrix.

In [27]:
data_matrix<-matrix(c(1,2,3,4,5,6),nrow=2,ncol=3)#creates a matrix of vector c(1,2,3,4,5,6) with rows=2 and columns=3
print(data_matrix)

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6