Factors:

When data has no numerical value or ordinal values then it is good to handle using factors. Factors are the data of the characters.

Let us specify 5 groups of people with different characteristics as 1,2,3 ,4 ,5. But here the gropu 1 and 2 dont have anything to do with 2 being greater than 1 its just the label for different groups.

Such data is handeled with factors.

In [30]:
# let us define a vector of numbers 1 2 3 4 5 with different repeatation
data<-c(1,2,1,3,4,5,3,4,5,2,3,4,1,5,5,5,2,2,3,4,5,1,1,1,2,3,3,2)
#but the data is just the label so we can use it as factors
dataFactor<-factor(data)
#forms the table for the dataFactor
dataTable<-table(dataFactor)
#prints out the differnt lables and the number for each labels
dataTable

dataFactor
1 2 3 4 5
6 6 6 4 6

Data Frame

We have known different data holders like list, vectors and matrix. Now let us make data frame using a data in data holders. Let us form a data of name, age, sex as a data frame.

In [31]:
# forming a  list of data for name, age, sex.
names<-c("Amar","Sujata","Ajit","Subekchya")
sex<-c("M","F","M","F")
age<-c(21,23,22,22)
data<-list(Name=names,Age=age,Sex=sex)
#forms data frame of data using function data.frame(---var----)
dataFrame<-data.frame(data)
print(dataFrame)

       Name Age Sex
1      Amar  21   M
2    Sujata  23   F
3      Ajit  22   M
4 Subekchya  22   F

In [32]:
# to extract a specific data from data frame we use
# dataFrameName$Name_of_data
# if we want to extract the Names data from dataFrame it can be done by dataFrame$Name
nameExtract<-dataFrame$Name
nameExtract

[1] Amar      Sujata    Ajit      Subekchya
Levels: Ajit Amar Subekchya Sujata

In [33]:
#let us try printing only names of female
nameFemale<-dataFrame$Name[dataFrame$Sex=="F"]
nameFemale

[1] Sujata    Subekchya
Levels: Ajit Amar Subekchya Sujata

In [36]:
#let us try printing only name of person age greater than 22
dataFrame$Name[dataFrame$Age>22]

[1] Sujata
Levels: Ajit Amar Subekchya Sujata

Handling a data from is very important task for analysis. So please try practicing it with other data also.