This is the lecture notes prepared for the learners who dont have any programming language. The note is interactive one. It is preferred if the user use jupyter notebook so that full advantage can be taken through notebook. However, pdf file is also fine who dont want to use jupyter notebook. They can implement the code given over here in any R complier.

This note is organized as follows:
1. Simple airthematic
2. Different data types
3. Different data holders
4. Logical operator
4. Vector Manipulation
5. List manipulation
6. Marix manipulation
6. Use of factors
7. Data frame
7. Loading csv file and its processing
10. Control statements
11. Looping
12. Functions
12. Statistical analysis
13. Graphical representation
14. Project


1. Simple airthematic
    R can be used as simple calculator. Some operation done in R as a calculator.

Adition of two number

In [1]:

2+3

[1] 5

Multiplication of two numbers

In [1]:

2*7

[1] 14

Division of two numbers

In [3]:

2/3

[1] 0.6666667

A complicated simplification

In [4]:

2+3-4

[1] 1

In [5]:
2*5-4+3

[1] 9

 Trignometric functions Note: The angles should be in radian

In [6]:

sin(90)

[1] 0.8939967

pi is 3.14

In [7]:

sin(pi/2)

[1] 1

3 raised to the power of 4

In [8]:

3^4

[1] 81

 To determine the reminder ie if 5 is divded by 3 reminder is 2. we have an operator %% to print reminder

In [9]:

5%%3

[1] 2

There are many other operators and functions which can be used as calcultor for basic operation. You can play with many others. You can google for different other mathemaical functions in R. Try it :D

2. Different Data types:
    
       Programming language is nothing but a child who understands only some words or types of words. So, its our job to teach that child to perform different task using the words the child understands.
       In mathematics, we have integers, complex numbers, real numbers. Also in algebra we assign varibales with words or letters. Similarly, there is some events where we use True and False to answer such answer is called Boolean in computer science.
       So, in R there are basically 5 different types of data.
       1. Numeric (Similar to real numbers in mathemaitcs i.e with decimal places 2.3333 0.444 etc)
       2. Integers (These are numbers without decimal places but can be positive or negative)
       3. Complex (As studied in grade 11 and 12 these are numbers having real and imaginary part eg.2+3i 3+5i)
       4. Boolean (True and False data)
       5. Character (Alphabetic letters or words to represent data)
       
       Lets try lean how each types of data

1.Integers

To assian value of integer to some variable name x i.e in mathematics x=2. But in R it is written as x<-2. 
Good to read as 2 is passed to x as arrow shows 2 goes to x

In [10]:

x<-2
print(x) 
# this statement prints value of x print() 
#is inbuilt function in R to print out the value of variables here of x

[1] 2

2.Numeric

In [11]:
x<-.222
print(x)

[1] 0.222

3.Complex

In [12]:

x<-2+3i
print(x)

[1] 2+3i

let us check if i square is -1 or not

In [13]:
x<-0+1i     # the complex number x is i because real part 
            #is 0 and imaginary part is 1
y<-x^2     # we are squaring the i i.e x is i
print(y)   # printing the value of y i.e i square. It must be -1.

[1] -1+0i

4.Character

Some times we need to insert alphabetic data in data base ie blood group or Male or Female etc
such data types are handeled by characters

In [14]:
name<-"kanchi" # here we are entering characters to it must be 
                #within the quotation mark "<data>"

print(name) # printing what is in name

[1] "kanchi"

5.Boolean 

Boolean data is of TRUE of FALSE type. ALways use the capital letters to boolean data. Small letts wont work

In [15]:

boo<-TRUE  #the data variable name is your freedom it can be 
            #words,letters, mixture of words and letters as well.

print(boo)

[1] TRUE

Let us try using the small letter word True for the boolean and see what happens. We will definately get error 
the error says True not fould because it is not defined in the R

In [16]:
boo<-True

ERROR: Error in eval(expr, envir, enclos): object 'True' not found

But boolean TRUE and FALSE can be also written as T and F

In [17]:
boo<-F
print(boo)

[1] FALSE

Note: there is huge difference between Boolean TRUE and character TRUE

In [18]:
boo<-TRUE
char<-"TRUE"
print(boo)
print(char)

[1] TRUE
[1] "TRUE"

Now we know differnt types of data that can be used in R. As we are trying to learn data analysis using R and we always have a huge bunch of data. So, its time now to put the several data types within a holder i.e data holder. Lets learn about data holders used in R.


There is one function in R that converts one data type to other i.e integre to character or others. The function is

1 as.integer()  converts into integer

2 as.character() converst into character

3 as.complex() converts into complex number

4 as.boolean() converts into boolean

In [19]:
x<-"a"  #a character defined
y<-as.integer(x)  #converts a to integer which cannot be
                  #converted so it is NA ie not a number.

print(y)

Warning message:
In eval(expr, envir, enclos): NAs introduced by coercion

[1] NA

In [20]:
num<-1   #a integer defined
num2char<-as.character(num)   #converts integer to character
print(num)       #prints number. See the output its 
                # just a number without a quotation mark
print(num2char)  #prints the character. See the output it has quotation mark

[1] 1
[1] "1"

Lets try to convert boolean to integer and vice versa

In [21]:
boo<-TRUE
boo2int<-as.integer(boo)
print(boo2int)

[1] 1

Herer we can see the boolean TRUE is converted to integer 1 .i.e For TRUE it is 1 and for FALSE check it yourslelf. :P