The operation that we studied at our lower classes to find greater than , less than are listed as logical checking. The result is boolan data types i.e T or F. Basic logical operaion are
1. is greater than (>)
2. is less than (<)
3. is equal to (==) Note its double equals to not single
4. is greather or equal to (>=)
5. is less or equal to (<=)
6. is not equal to (!=)

Lets check it.

In [1]:
#check logically is 2 greather than 3. Its false so answer must be false
2>3

[1] FALSE

In [2]:
#is 2 equals to 3. Its false
2==3

[1] FALSE

In [3]:
# Is 2 not equal to 3. Its true
2!=3

[1] TRUE

In [4]:
#Is 2 less than or equal to 3. Yes
2<=3

[1] TRUE

Try playing with these operation. It is most important in data analysis.

There are two operators that connects various logical values. Those are logical and (&) and logical or(|).
As it will be difficult for you to understand the boolean algebra. I will try to put it in simple way.

1. If any one of the statement is false in and operation then whole result is false.
eg 

    T and T = T
    
    T and F = F
    
    F and F = F
    
    F and T = F
   
2. If any one statement is true in or operation then whole result is True
eg 

    T or T = T
    
    F or T = T
    
    T or F = F
    
    F or F = F
   
   
   Lets implement these

In [7]:
2>2 | 3<4 # first statement is false and 2nd statement is true. We are using or(|) operator here so F or T = T.
            # so the final result is true

[1] TRUE

In [8]:
2>2 & 3<4 # first statement is false and 2nd statement is true. We are using and (&) operator so F and T = F.

[1] FALSE

In [9]:
            #let try to put it in simple manner
4>5 | 5<6   # if among two operation is (4>5 or 5<6) true. i.e if anyone is true its ture as or gives option that one 
            # correct leads to correctness of entire statement.

[1] TRUE

lets see abit advanced statement

Is (5>4|5>6)&(2==3|4>5) true?

Here lets break it into two statements 

A. (5>4 | 5>6). It has or operator so if any one is true whole statemtn is true. As 5>4 is true. The statement is true.

B. (2==3|4>5). It also has or operator so if any one is true whole statement is true.Both statement is false. The statemnet is false.

Now lets try to unite both (Statement A) & (Statement B) ---> True & False ----> False

As in and operation both statement must be true for the final result to be true.

In [10]:
(5>4|5>6)&(2==3|4>5)

[1] FALSE