Vector Manipulation

As we are now familiar with different data holders, data types and logical operation. Let us try using the vectors and how it can be manipulated.

First of all lets us create a vector. It can be done with a c(---data---) command

In [2]:
#create a vector vec containing a numbers from 1 to 10
vec<-c(1,2,3,4,5,6,7,8,9,10)
vec

 [1]  1  2  3  4  5  6  7  8  9 10

In [3]:
# vector or seqence of numbers can be done using following command
vec<-1:10 # start:end
vec

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
#vector of sequence of number is also created by the command seq(start, end, difference)
vec<-seq(1,10,1)
vec

 [1]  1  2  3  4  5  6  7  8  9 10

In [5]:
#vector of sequence of numbers starting from 20 and ending to 100 with differenc of 5
vec1<-seq(20,100,5)
vec1

 [1]  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95 100

Now we know how to create vectors. So, lets try to extract data of vector, manipulate the data in vector which will be really important during data analysis.

In [6]:
#extract 2nd data of vector
vec1<-seq(1,10,1)     #vector created
vec1[2]               #extracts 2nd element of vec1

[1] 2

In [7]:
# let us define a vector with characters
names<-c("Ram","Shyam","Geeta","Kanchi","Luri","Sanu")
names[4]   #extracts the 4th data

[1] "Kanchi"

Lets try to extract the data using boolean expression.

In [8]:
vec2<-seq(1,10)  #vector from 1 to 10 sequence is created,
pos<-c(T,F,T,F,F,F,T,T,T,T)   # a vector of boolean datatype is created

#let us see what is printed when we print
vec2[pos]    # note only the elements of vec2 is extracted for which the position is True

[1]  1  3  7  8  9 10

In [9]:
#lets use logical expression to check for vectors

vec3<-seq(1,12) # a vector of seq of number is created
vec3            #displays vec3
posGthan3<-vec3>3  # check if vec3 is greater then 3
posGthan3          #position for which elements of vec3 is greather than 3

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

 [1] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

Lets use boolean data types and vector extraction to get something useful.

Let us create a data of age and names. Lets put age as vector age and names in vectors names

    age              names
    10               "Ram"
    20                "Geeta"
    19                "Namrata"
    21                 "Sushmita"
    23                 "Sujata"
    29                 "Manu"
    
    
    lets use above learnt things to display name whose age is above 23.

In [10]:

age<-c(10,20,19,21,23,29)# vector age is created
name<-c("Ram","Geeta","Namrata","Sushmita","Sujata","Manu")  #vector name is created
nameAgeGt23<-name[age>23]   # only names greater than 23 is placed on nameAgeGt23 is placed
nameAgeGt23

[1] "Manu"

lets try adding a data to a vector

In [11]:
# a vector of number is created
vec3<-c(1,2)
#entry 5 to 5th postion as there are no numbers in 3rd and 4th position NA(not a number ) will be palced on it
vec3[5]<-5
vec3

[1]  1  2 NA NA  5