List Manipulation

After being familiar with the vector manipulation, let us study about list manipulation. The process of the list manipulaiton is similar to the vector manipulation.

In [7]:
#form a list as done earlier
nameL<-c("shova","Ek","Pitu","Hemanta")
ageL<-c(25,31,30,31)
sexL<-c("F","M","M","M")
# form a list from above data
data<-list(name=nameL,age=ageL,sex=sexL)
#print the list
data

$name
[1] "shova"   "Ek"      "Pitu"    "Hemanta"

$age
[1] 25 31 30 31

$sex
[1] "F" "M" "M" "M"

In [9]:
#from above list to extract name of in the list    ... data$variable_name
data$name

#to extract the sex from the list

data$sex

[1] "shova"   "Ek"      "Pitu"    "Hemanta"

[1] "F" "M" "M" "M"

In [12]:
# the above extraction can be done using the method similar to that of vectors
# to print the names
data[[1]]

[1] "shova"   "Ek"      "Pitu"    "Hemanta"

Let us try to add a data set to the list data.

In [15]:
# adding a salary in dollors to the above list data in thousand dollors
salaryL<-c(200,150,100,50)   # new vector with salary data created
data$salary<-salaryL         # salary added to the list data
data                         # prints data and we can see new data of salary added to the list

$name
[1] "shova"   "Ek"      "Pitu"    "Hemanta"

$age
[1] 25 31 30 31

$sex
[1] "F" "M" "M" "M"

$salary
[1] 200 150 100  50